<app-barra-superior></app-barra-superior>
<div class="container-fluid">

  <!-- Content Row -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="zcol mr-2">
              <div
                class="
                  text-xs
                  font-weight-bold
                  text-success text-uppercase
                  mb-1
                "
              >
                Vagas livres
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">50</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Faça uma Reserva</h6>
                   
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="">
                        <form>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputEmail4">Nome</label>
                                <input type="text" class="form-control" id="inputNome" disabled placeholder="Nome">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputPassword4">Email</label>
                                <input type="email" class="form-control" id="inputEmail" disabled placeholder="E-mail">
                              </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                  <label for="inputPlaca">Placa</label>
                                  <input type="text" class="form-control" id="inputPlaca" disabled placeholder="Placa">
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="inputModelo">Modelo</label>
                                  <input type="text" class="form-control" id="inputModelo" disabled placeholder="Modelo">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputCor">Cor</label>
                                    <input type="text" class="form-control" id="inputCor" disabled placeholder="Cor">
                                  </div>
                              </div>
                            <div class="form-group">
                              <label for="inputAddress2">Observações</label>
                              <input type="text" class="form-control" [formControl]="observacoes" id="inputAddress2" placeholder="Carro com 3 pessoas... Vaga para Deficiente...">
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputCity">Data</label>
                                <input type="text" disabled class="form-control" id="inputData">
                              </div>
                              <div class="form-group col-md-4">
                                <label for="inputState">Turno</label>
                                <select [formControl]="turno" id="inputTurn" class="form-control">
                                  <option selected>Manhã</option>
                                  <option>Tarde</option>
                                  <option>Noite</option>
                                </select>
                              </div>
                            </div>
                            <button type="button" (click)="this.agendar()" class="btn btn-success">Efetuar Reserva</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Reservas Recentes</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mt-3">
                                    <ul class="list list-inline">
                                        <li *ngFor="let reserva of this.reservas" class="d-flex justify-content-between">
                                            <div  class="d-flex flex-row align-items-center"><i class="fa fa-check-circle checkicon"></i>
                                                <div class="ml-2">
                                                    <div  class="d-flex flex-row mt-1 text-black-50 date-time">
                                                        <div><i class="fa fa-calendar-o"></i><span class="ml-2">{{this.data | date:'dd/MM/yyyy'}} - {{reserva.turno}}</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>


</div>